@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,700&family=Poppins:wght@700&display=swap');

$Pink: hsl(322, 100%, 66%);
$LightPink: hsl(321, 100%, 78%);
$LightRed: hsl(0, 100%, 63%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);
$Body-font: 'Open Sans', sans-serif;
$Headings-font: 'Poppins', sans-serif;

:root {
    --fa-primary-color: yellow;
}

/*---------Mixins----------*/
@mixin active-states($color: $LightPink) {
    &:hover {
        background-color: $color;
        cursor: pointer;
    }
}
@mixin desktop-view($width, $height: unset, $fontSize: unset){
    @media screen and(min-width: 1440px) {
        width: $width;
        height: $height;
        font-size: $fontSize;
    }
}
@mixin desktop-flex($direction: unset){
    @media screen and(min-width: 1440px) {
        flex-direction: row;
        justify-content: space-around;
        flex-direction: $direction;
        border: 1px solid blue;
        height: 800px;
        margin-bottom: 0px;
        @content;
    }
}
@mixin desktop-margins{
    @media screen and(min-width: 1440px) {
        margin-bottom: 0;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $Very-Pale-Blue;
    font-family: $Body-font;
    color: $Very-Dark-Cyan;
}

.main-container {
    width: 375px;
    margin: 25px auto;
    @include desktop-view(1440px);
}

.header {
    display: flex;
    justify-content: space-between;
    @include desktop-view(1300px);
    margin: auto;
}

.header__logo {
    width: 95px;
    height: 16px;
    @include desktop-view(240px, 38px);
}

.header__button {
    background-color: $Very-Pale-Blue;
    border: none;
    border: 1px solid $LightPink;
    color: $LightPink;
    border-radius: 50px;
    margin-bottom: 125px;
    width: 80px;
    height: 24px;
    @include desktop-view(134px, 42px);
}

.main-container__title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 265px;
    margin: 0 auto 36px;
    font-size: 1.48em;
    @include desktop-view(1010px, unset ,2.98em);
}

.main-container__description {
    text-align: center;
    margin: 0 auto 49px;
    font-weight: 600;
    font-size: 0.8em;
    width: 290px;
    @include desktop-view(590px, 80px, 1.25em);
}

.main-container__button {
    border-radius: 50px;
    border: none;
    background-color: $Pink;
    color: $Very-Pale-Blue;
    font-weight: 700;
    display: block;
    margin: 0 auto 104px;
    width: 200px;
    height: 40px;
    @include active-states;
    @include desktop-view(400px, 80px, 1.25em);
}

.main-container__screen-mockups {
    display: block;
    width: 300px;
    margin: 0 auto 138px;
    @include desktop-view(1020px, 725px);
}

.statistics {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop-flex;
}

.comunities {
    margin-bottom: 98px;
    border: 1px solid red;
    &__logo {
        width: 32px;
    }
    
    &__statistics {
        font-size: 4em;
    }
    
    &__description {
        font-size: 0.8em;
    }
    @include desktop-margins;
}
@media (min-width: 1440px){
    .comunities {
        &__logo {
            width: 50px;
        }
    
        &__statistics {
            font-size: 6em;
        }
    
        &__description {
            font-size: 1.5em;
        }
    }
}

.messages {
    margin-bottom: 197px;
    border: 1px solid red;
    @include desktop-margins;
    &__logo {
        width: 24px;
    }

    &__statistics {
        font-size: 4em;
    }

    &__description {
        font-size: 0.8em;
        margin: auto;
        width: 69px;
        text-align: center;
    }
}
@media (min-width: 1440px){
    .messages {
        &__logo {
            width: 42px;
        }
    
        &__statistics {
            font-size: 6em;
        }
    
        &__description {
            font-size: 1.5em;
            text-align: center;
            width: 100%;
        }
    }
}

.grow-together {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 245px;
    @include desktop-flex(row-reverse);
    .image-container {
        &__illustration {
            width: 246px;
            margin-bottom: 78px;
        }
    }

    .description {
        &__title {
            font-family: $Headings-font;
            font-size: 1.2em;
            text-align: center;
            margin-bottom: 12px;
        }

        &__content {
            text-align: center;
            font-size: 0.9em;
            width: 330px;
        }
    }
}

.flowing-conversations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 245px;
    @include desktop-flex();
    .image-container {
        &__illustration {
            width: 246px;
            margin-bottom: 78px;
        }
    }

    .description {
        &__title {
            font-family: $Headings-font;
            font-size: 1.2em;
            text-align: center;
            margin-bottom: 12px;
        }

        &__content {
            text-align: center;
            font-size: 0.9em;
            width: 330px;
        }
    }
}

.your-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 245px;
    @include desktop-flex(row-reverse);
    .image-container {
        &__illustration {
            width: 246px;
            margin-bottom: 78px;
        }
    }

    .description {
        &__title {
            font-family: $Headings-font;
            font-size: 1.2em;
            text-align: center;
            margin-bottom: 12px;
        }

        &__content {
            text-align: center;
            font-size: 0.9em;
            width: 330px;
        }
    }
}

.main-container__footer-wave {
    margin-bottom: -6px;
    width: 100%;
}

.newsletter {
    background-color: $Very-Dark-Cyan;
    color: $Very-Pale-Blue;
    padding: 70px 24px 40px;

    &__title {
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 28px;
    }

    &__description,
    &__huddle-description {
        font-size: 0.95em;
        margin-bottom: 28px;
    }

    &__input {
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 8px;
        margin-bottom: 16px;
    }

    &__submit-container {
        display: flex;
        justify-content: flex-end;
    }

    &__submit {
        width: 160px;
        height: 50px;
        border: none;
        border-radius: 8px;
        background-color: $Pink;
        color: $Very-Pale-Blue;
        font-weight: 700;
        font-size: 1.05em;
        margin-bottom: 100px;
        @include active-states;
    }

    &__logo-huddle {
        width: 206px;
        margin-bottom: 18px;
    }

    &__phone-container {
        margin-bottom: 15px;
    }

    &__email-container {
        margin-bottom: 50px;
    }

    &__anchor {
        margin-left: 20px;
    }

    &__social-container {
        width: 110px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__newsletter__social-icon {
        @include active-states;
    }
}

.attribution {
    font-size: 16px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}